@use "normalize";
@use "base";
@use "carousel";
@use "menu";


#sky-background{
	background-image: url("../../images/principal/background.webp");
	background-position: center;
	background-repeat: no-repeat;
	height: inherit;
	background-size: cover;
	background-position-y: 0em;
}

#mountains-background {
	background-image: url("../../images/principal/mountains.webp");
	background-size: cover;
	height: inherit;
	background-repeat: no-repeat;
}

.home {
	position: absolute;
	top: 36vh;
	left: 14vw;

	&__intro {
		width: 80vw;
		font-size: 5vw;
		position: relative;
		z-index: 10;
	}

	&__hand {
		position: absolute;
		left: -2em;
	}

	&__subtitle {
		font-size: 1vw;
		font-weight: lighter;
	}
}


.projects {
	> h4 {
		color: black;
		text-align: center;
		font-size: 2vw;
		margin: 3em;
	}
}


@media (min-width: 1400px) {
	#mountains-background {
		background-size: contain;
	}

	.home__hand {
		left: -3em;
	}
}

@media (max-width: 1400px) {
	.home {
		&__hand {
			height: 8vw;
		}
	}
}


@media (max-width: 1200px) {
	.home {
		&__intro {
			font-size: 6vw;
		}

		&__subtitle {
			font-size: 1.5vw;
		}

		&__hand {
			font-size: 1vw;
		}
	}
}


@media (max-width: 1024px) {
	.home {
		&__intro {
			font-size: 7vw;
		}

		&__hand {
			height: 10vw;
			top: 2vh;
		}
	}
}

@media (max-width: 768px) {
	.projects {
		> h4 {
			font-size: 8vw;
		}
	}
	.home {
		&__hand {
			height: 15vw;
			top: 1vh;
			left: -5vw;
		}

		&__intro {
			font-size: 10vw;
		}

		&__subtitle {
			font-size: 2vw;
			width: 80vw;
		}
	}
}

@media (max-width: 546px) {
	.home {
		left: 8vw;

		&__intro {
			font-size: 12vw;
		}

		&__subtitle {
			font-size: 3.5vw;
		}
	}
}