@use "normalize";
@use "base";
@use "carousel";
@use "menu";
@use "icons";
@use "flipcard";


#sky-background{
	background-image: url("../../images/principal/background.webp");
	background-position: center;
	background-repeat: no-repeat;
	height: inherit;
	background-size: cover;
	background-position-y: 0em;
}


#mountains-background {
	background-image: url("../../images/principal/mountains.webp");
	background-size: cover;
	height: inherit;
	background-repeat: no-repeat;
}

.home {
	position: absolute;
	top: 36vh;
	left: 14vw;

	&__intro {
		width: 80vw;
		font-size: 5vw;
		position: relative;
		z-index: 10;
	}

	&__hand {
		position: absolute;
		left: -2em;
	}

	&__subtitle {
		font-size: 1vw;
		font-weight: lighter;
	}
}


.projects {
	> h4 {
		color: black;
		text-align: center;
		font-size: 2em;
		margin: 3em;
	}

	&__carousel {
		margin: 6em 0;
	}

	&__title  {
		font-size: 2em;
	}
}


.services {
	display: flex;
	flex-direction: row;
	height: 550px;
	margin: 12em 0;

	&__imgbg {
		background-image: url("../../images/principal/services_light.webp");
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 400px;
		flex: 1;
		border-radius: 0 20px 20px 0;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
	}

	&__services {
		flex: 1;
	}

	&__box {
		display: flex;
		flex-wrap: wrap;
	}

	&__box-12 {
		height: 305px;
		width: 218px;
		background-color: base.$blue-light;

		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin: 0 0 2.7em 5.7em;;
		border-radius: 10px;
	}

	&__rect {
		width: 531px;
		height: 200px;
		background-color: base.$blue-light;
		transform-origin: left top;

		display: flex;
		align-items: center;
		justify-content: end;
		flex-direction: column;
		border-radius: 10px;
		margin: 0 5.7em;
	}

	&__box-12 > .flip-card-front {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}
	&__box-12 > .flip-card-front > p, &__rect > .flip-card-front > p {
		color: black;
	}
}

#turn-box > svg {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	transform: scale(0.8);
}

@media (min-width: 1400px) {
	#mountains-background {
		background-size: contain;
	}

	.home__hand {
		left: -3em;
	}
}

@media (max-width: 1400px) {
	.home {
		&__hand {
			height: 8vw;
		}
	}
}


@media (max-width: 1200px) {
	.home {
		&__intro {
			font-size: 6vw;
		}

		&__subtitle {
			font-size: 1.5vw;
		}

		&__hand {
			font-size: 1vw;
		}
	}
}


@media (max-width: 1024px) {
	.home {
		&__intro {
			font-size: 7vw;
		}

		&__hand {
			height: 10vw;
			top: 2vh;
		}
	}
}

@media (max-width: 768px) {
	.projects {
		> h4 {
			font-size: 8vw;
		}
	}
	.home {
		&__hand {
			height: 15vw;
			top: 1vh;
			left: -5vw;
		}

		&__intro {
			font-size: 10vw;
		}

		&__subtitle {
			font-size: 2vw;
			width: 80vw;
		}
	}
}

@media (max-width: 546px) {
	.home {
		left: 8vw;

		&__intro {
			font-size: 12vw;
		}

		&__subtitle {
			font-size: 3.5vw;
		}
	}
}